* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-family: "Open Sans";
  background-color: #f3dfde;
  color: #292929;
  margin: 0;
  font-size: 16px;
}

/* animated background */
body.celebrate {
  background: linear-gradient(-45deg, #fa0509, #f20d96, #308ecf, #1ed5e1);
  background-size: 400% 400%;
  animation: gradient 6s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  width: 100%;
  font-size: 32px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  padding: 2em;
}

.container > p {
  width: auto;
  font-size: 1.25em;
  padding: 10px;
}

.hide {
  display: none;
}

.success {
  text-transform: uppercase;
  color: #f16059;
  font-weight: bold;
  text-align: center;
  border-bottom: none;
  font-family: "Montserrat";
  flex-wrap: nowrap;
}

img {
  width: 80%;
}
